body {
  margin: 0;
  font-family: Roboto, Noto Sans KR, -apple-system, Dotum, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

body {
  color: #444444;
  /* background-color: #f5f5f7; */
  background-color: #eff1f3;
  font-size: 12px;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

textarea {
  border: none;
}

::-webkit-scrollbar {
  display: none;
}
